{% extends 'myapp/base.html' %}

{% block body %}
<div class="jumbotron jumbotron-billboard" style=" background:transparent; background-image:none;border-color:transparent; box-shadow:none; ">
  <div class="img"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12" style="color:">
                <h2>Hii Welcome to you</h2>
                <p>
                    If You New To My Page Please Sign up
                </p>
            </div>
        </div>
    </div>
  </div>
</div>
{% endblock %}
